<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id='navbar'>
    <div id='logo'>
      LOGO
    </div>
    <div id='search-bar'>
        <input type='text' id='search_results' placeholder='Search your adventure...' name='search_results'/>
        <input type='submit' id='search' value='Search'/>
        <input type='submit' value='Nearby'/>
      </form>
    </div>


    <div id='links-to-pages'>
        <li><a href='/'>Home</a></li>
        <li><a href='#'>Events</a></li>
        <li><a href='#'>About Me</a></li>
        <li><a href='#'>Write a Review</a></li>
    </div>

    <div id='account-buttons'>
      <%if @user==nil %>
        <li>
          <form action='/signup' method='get'>
            <input type='submit' value='Sign Up'/>
          </form>
        </li>
        <li>
          <button id='login-button' type='button'>Log In</button>
          <div>
            <form id='login_panel' action='/session/new' method='post' >
              <input type='email' placeholder='Email' name='email'/>
              <input type='password' placeholder='Password' name='password'/>
              <br>
              <input type='submit' value='Log In'/>
          </div>

        </li>
      <%else%>
        <%=@user.username%>
        <form id='account_options' action='session/<%=@user.id%>' method='post'>
          <input name="_method" type="hidden" value="delete"/>
          <input type='submit' value='Sign Out'/>
        </form>
      <%end%>

    </div>

  </div>
  <div id='search_title'></div>
  <div id='trail_api_result'></div>

  <div id='content'></div>
</body>
</html>