<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="icon" type="image/png" href="/imgs/GoTrekFavicon.png" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id='navbar'>
    <div id='logo'>
      <a href='/'><img src='/imgs/GoTrekLogo.png'></a>
    </div>
    <div id='search-bar'>
        <form action='/search_results' method = 'post'>
          <input type='text' id='search_results' name='searched_input' placeholder='Search your adventure...'/>
          <input type='submit' id='search' value='Search'/>
        </form>
    </div>


    <div id='links-to-pages'>
        <li><a href='/'>Home</a></li>
        <li><a href='#'>Events</a></li>
        <li><a href='#'>About Me</a></li>
        <li><a href='#'>Write a Review</a></li>
    </div>

    <div id='account-buttons'>
      <%if @user==nil %>
        <li>
          <form action='/signup' method='get'>
            <input id='signup'type='submit' value='Sign Up'/>
          </form>
        </li>
        <li>
          <button id='login-button' type='button'>Log In</button>
          <div>
            <form id='login_panel' action='/session/new' method='post' >
              <input type='email' placeholder='Email' name='email'/>
              <input type='password' placeholder='Password' name='password_hash'/>
              <br>
              <input type='submit' value='Log In'/>
          </div>

        </li>
      <%else%>
        <div id='username'><%=@user.username%></div>
        <form id='account_options' action='session/<%=@user.id%>' method='post'>
          <input name="_method" type="hidden" value="delete"/>
          <input type='submit' id='signoutbutton' value='Sign Out'/>
        </form>
      <%end%>

    </div>

  </div>
  <%= yield %>
</body>
</html>