<!DOCTYPE html>
<html lang="en">
<head>
  <title>SignUp</title>
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="icon" type="image/png" href="/imgs/GoTrekFavicon.png" />
</head>
<body>

  <div id='header'>
    <a href='/'><img src='/imgs/GoTrekLogo.png'></a>
  </div>

  <div id='form-box'>

    <h2>Sign up for Go Trek</h2>

    <div id='errors'>
      <% unless @user.errors.empty? %>
      <p>*****ERRORS*****</p>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </div>

    <br>

    <form action='/account/create' method='POST'>
      <div id='info'>
      <li><input class='blank' type='text' placeholder='Email Address' name='email'/></li>
      <li><input class='blank' type='text' placeholder='Username' name='username'/></li>
      <li><input class='blank' type='password' placeholder='Password' name='password_hash'/></li>
      <!-- <li><input class='blank' type='password' placeholder='Confirm Password'/></li> -->
      <li><input type='submit' value='Sign Up'/></li>
    </form>

    <p>Already have an account? <a href='/login'>Log in here!</a></p>

  </div>

</body>
</html>