#navbar {
  height: 75px;
  width: 100%;
  text-align: center;
  position: relative;
  background: red;
  position:absolute;
  top: 0px;
}

#navbar a {
  text-decoration: none;
  color:black;
}

#search-bar {
  width: 500px;
  margin: auto;
  margin-top: 7px;
}

#links-to-pages {
  width: 65%;
  margin: auto;
  margin-top: 20px
}

#links-to-pages li{
  display: inline-block;
  text-align: center;
  width: 20%;
  list-style-type: none;
}

#account-buttons{
  width: 100px;
  float: right;
  list-style-type: none;
  margin: -62px 150px 0px 0px;

}

#account-buttons li button{
  width: 100px;
  margin-bottom: 10px
}

#login_panel{
  position: absolute;
  z-index: 10000;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s linear 0s;
  margin-left: -100px
}

#content{
  border: 1px solid black;
  margin:auto;
  width: 950px;
  margin-top: 78px
}

#googleMap{
  width:300px;
  height:380px;
  margin-top: 25px;
}

#logo{
  float:left;
  margin-top:20px;
  margin-left: 150px;
  position: relative;
}
