#navbar {
  height: 75px;
  width: 100%;
  text-align: center;
  position: relative;
  position:absolute;
  top: 0px;
  background-image: url('/imgs/Forest_Green_navbar.png')
}

#navbar a {
  text-decoration: none;
  color:black;
}

#search-bar {
  width: 500px;
  margin: auto;
  margin-top: 7px;
}

#search_results{
  border-radius: 25px
}

#links-to-pages {
  width: 65%;
  margin: auto;
  margin-top: 20px
}

#links-to-pages li{
  display: inline-block;
  text-align: center;
  width: 20%;
  list-style-type: none;
}

#account-buttons{
  width: 100px;
  float: right;
  list-style-type: none;
  margin: -62px 150px 0px 0px;

}

#account-buttons li button{
  width: 100px;
  margin-bottom: 10px
}

#login_panel{
  position: absolute;
  z-index: 10000;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s linear 0s;
  margin-left: -100px
}

#content{
  border: 1px solid black;
  margin:auto;
  width: 950px;
  margin-top: 78px
}

#googleMap{
  width:300px;
  height:380px;
  margin-top: 25px;
}

#logo{
  float:left;
  margin-top:20px;
  margin-left: 150px;
  position: relative;
}

#trail_api_result{
  width: 950px;
  margin:auto;
  margin-bottom: -20px;
  list-style: none;
  border:1px solid black;
  margin-top: 35px;
  bottom: 0px;
}



.each_trail{
  margin:auto;
  list-style:none;
  height: 90px;
  border:1px solid black;
  width: 60%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius:50px;
  text-indent: 5px
}

.trail-name{
  /*width: 365px;*/
  /*border: 1px solid black;*/
  font-size: 30px;
  margin-left:13px;
  margin-top: 30px;
  position: absolute;
}

.trail-location{
  position: relative;
  float: bottom;
  width: 365px;
  /*border: 1px solid black;*/
  margin: auto;
  margin-top: 75px;
  margin-left:25px;
}
