html{
  background-image: url("mountain_hike.jpg");
  background-size: 100%
}

#header{
  border: 2px solid black;
  width: 105%;
  height: 10%;
  text-align: center
}


#form-box{
  border: 1px solid black;
  width: 500px;
  margin:auto;
  position: relative;
  top: 50%;
  transform: translateY(15%);
  background-color: white;
  opacity: 0.75;
  text-align: center;
}

#info li {
  list-style: none;
  margin-bottom: 25px;
}

#errors {
  text-align: left;
  color: red;
  width: 60%;
  margin: auto;
}

#errors p {
  text-align: center
}