<div id='content'>
  <img id='mountain_img' src="/imgs/Mountain_House.jpg">
  <img id='snowhike' src='/imgs/vertsnowhike.jpg'>
  <img id ='camping' src='/imgs/homecamping.jpg'>
  <img id='mountainbike' src='/imgs/Mountainbike.jpg'>
  <div id='nature_text'>Experience Nature</div>
  <div id='mountain_text'>Explore new<br> heights</div>
  <div id='bike-text'><- Do cool things like this guy</div>
  <div id='camp_text'>Important text that tells you something</div>
  <p id='source'>Powered by <a href='http://www.trailapi.com/'>trail.api</a></p>
</div>